@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #161c23;
  --secondary: #212c35;
  --text: #fffdfe;
  --p3green: #24a01a
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
